<!-- Commissioner Bio Info  -->
<div class="container">

<h1>Here's your commissioner</h1>
<hr>
<%= @commissioner.name %>
</div>



<!-- <img src="/assets/images/commissioners/<%=  %>.jpg"> -->
<div class="container">

	<div class="col-md-4">
		<%= image_tag(@commPicURL) %>
	</div>
	</div>
</div>