<!-- About Page Paragraph -->
<div class="row">
    <div class="col-lg-4 col-lg-offset-4 text-center">
        <p class="large">We care about what happens in our neighborhood. We are using the web and technology to promote civic action in Miami. It's our goal to get everybody involved in politics. You should too!</p>
    </div>
</div>

<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Say Hi to us!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag("about/hsiuyi-profile.jpg", :height => "300", alt: "Hsiu-Yi Portrait", class: "img-responsive img-circle") %>
                    <h4>Hsiu-Yi "Sam" Lin</h4>
                    <p class="text-muted"></p>
                    <ul class="list-inline social-buttons">
                        <li><a target="_blank" href="https://www.linkedin.com/in/hsiuyilin"><i class="fa fa-linkedin"></i></a>                    
                        </li>
                        <li><a target="_blank" href="https://github.com/Hsiu-YiLin/"><i class="fa fa-github"></i></a>                    
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted"></p>
            </div>
        </div>
    </div>
</section>