<!-- Navigation bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">   
	<div class="container">
		<div class="navbar-right">
			<ul class="nav nav-pills">
		 		<li role="presentation" class="active"><a href="/">Home</a></li>
		  		<li role="presentation"><a href="/about">About</a></li>
			</ul>
		</div>
	</div>
</nav>