<!-- Main banner section -->
<div class="jumbotron">
  <div class="container">
    <h1>Government, Who? Miami!</h1>
    <p> Find your commissioner and see what that are up to.</p>
    <!-- 
    <p><a class="btn btn-primary btn-lg" href="#" role="button">&raquo; Find </a></p>  -->
  </div>
</div>

<!-- Input form using Javascript
<div class ="container">
  <div>
    <input id="find-user-area">
    <a href="#search" id="find-commissioner">Find</a>
  </div>
</div>
-->

<!-- Input form using half Javascript, half Ruby
<form>
      <input type="text" id="user-commissioner">
      <button class="js-form-submit" type="submit">SUBMIT</button>
</form>
-->

<!-- Input form using Ruby -->
<div class="container">
  <%= form_tag("search", method: "post") do %>
  <%= label_tag(:user_address, "Enter your address:") %>
  <%= text_field_tag(:user_address) %>
  <%= submit_tag("Search") %>
<% end %>
</div>

<!-- Form modal, pops up with candidates address -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Find</button>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" id="user-address">
      Is this your address?
    </div>
  </div>
</div>
 
<!-- Bottom info portion -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>What is a commissioner?</h2>
      <p>A commissioner is ...</p>
    </div>

    <div class="col-md-4">
      <h2>Why do you care?</h2>
      <p>They control ...</p>
     </div>

    <div class="col-md-4">
      <h2>Let your voice be heard</h2>
      <p>Don't limit your political involvement to the national level. Be aware of the day to day government in your neighborhood.</p>
    </div>
  </div>
</div>