    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"></div>
                <div class="intro-heading">Find your government.</div>
                
                <div class="container form-inline">  
                <form>  
                <input  class="form-control input-lg" id="find-user-area" type="text" placeholder="Enter your address here (ex. 123 SW 45 ST)">
                <button class="btn btn-xl js-find-commissioner" type="submit">Find</button>
                </div>
    </form>
                </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">FAQ</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">What is a Miami-Dade Commissioner?</h4>
                    <p class="text-muted">Commissioners are responsible for governing the 13th districts of Miami-Dade.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">What do they do?</h4>
                    <p class="text-muted">They create policies and set laws for the community. These include reviewing bids, approving budgets, and hosting special events.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Why should I care?</h4>
                    <p class="text-muted">The decsions they make impacts you in your everyday life.</p>
                </div>
            </div>
        </div>
    </section>