<!DOCTYPE html>
<html>
<head>
  <title>Government, Who? Miami!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<!-- Navigation Bar -->
<header>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Government, Who? Miami!</a>
        <div class="nav navbar-right">
        	<ul>
      			<li role="presentation"><a href="/">Home</a></li>
	      	    <li role="presentation"><a href="/about">About</a></li>
      		</ul>
        </div>
    </div>
	</div>
</nav>
</header>
<%= yield %>



<!-- Footer Bar -->

</body>

<footer>
	<hr>
	<div class="container">
	        <p>&copy; 2016 </p>
	</div>
</footer>
</html>
